
@model IEnumerable<TadaNomina.Models.DB.HistoricoHonorarios>
@{
    Layout = null;
}

<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Historial </h3>
        </div>

            <table id="demo-dt-selection" class="table table-striped table-hover" cellpadding="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdHistoricoHonorarios)
                        </th>
                        <th>
                            Estatus SAT
                        </th>
                        <th>
                           Fecha de Validacion
                        </th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdHistoricoHonorarios)
                            </td>
                            @if (item.EstatusSAT == "Vigente")
                            {
                                <td>
                                    <span class="badge badge-success">Vigente</span>
                                </td>
                            }
                            else
                            {
                        <td>
                            <span class="badge badge-danger">Cancelada</span>
                        </td>

                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCaptura)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
