
@{
    ViewBag.Title = "Config";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}



<script src="~/js/Core/mensajes.js"></script>
<script src="~/js/nifty.js"></script>
<link href="~/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
<link href="~/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">

<br />
<br />
<br />
<br />
<br />

<div class="container" id="app">

    <div align="center" style="padding-bottom:30px;">
        <vue-toggle :toggled.sync="toggled_1" label="Enabled"></vue-toggle> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <vue-toggle :toggled.sync="toggled_2" label="Disabled"></vue-toggle>
    </div>
    <center>
        <h3>Configuracion Especial para el Calculo de la Unidad de Negocio</h3>
    </center>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-8">
            <p>Se activa para el Calculo de la Cuota Sindical en la Nomina.</p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <input id="check-CS" class="toggle-switch" type="checkbox" checked>
            <label for="check-CS">Cuota Sindical</label>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-8">
            <p>Se calcula Cargas Sociales sin Falta.</p>

        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <input id="check-CSSF" class="toggle-switch" type="checkbox" checked>
            <label for="check-CSSF">Cargas Sociales S/F</label>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <p>Bandera Dias Equivalentes.</p>

        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <input id="check-DE" class="toggle-switch" type="checkbox" checked>
            <label for="check-DE">Dias Equivalentes</label>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <p>Cobra Cargas Obreras y Cargas Patronales cuando el empleado tiene un Sueldo Minimo General Vigente.</p>

        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <input id="check-SMGV" class="toggle-switch" type="checkbox" checked>
            <label for="check-SMGV">Cobra COPS a Empleado con SMGV</label>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-8">
            <p>Retencion del ISR SMGV .</p>

        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <input id="check-RIS" class="toggle-switch" type="checkbox" checked>
            <label for="check-RIS">Retencion ISR SMGV</label>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-12">
            <p>Fechas para Validacion de Honorarios.</p>

        </div>
        <br />
        <br />

        <input id="check-Hono" class="toggle-switch" type="checkbox" checked>
        <label for="check-Hono">Activar Validacion</label>
        <br />
        <br />
        <br />
        <br />
        <div class="col-md-3">* Fecha Inicial:</div>
        <div class="col-md-3">
            <input type="text" id="editFechaInicio_" placeholder="Coloque un numero del 01 al 31" class="form-control" required />
        </div>
        <div class="col-md-3">* Fecha Final:</div>
        <div class="col-md-3">
            <input type="text" id="editFechafin_" placeholder="Coloque un numero del 01 al 31" class="form-control" required />
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-8">
            <p>Generar Integrado PV y Auinaldo.</p>

        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <input id="check-GIPA" class="toggle-switch" type="checkbox" checked>
            <label for="check-GIPA">General Integrado PV y Agui</label>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-8">
            <p>Calcular ISR Aguinaldo ley 74.</p>

        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <input id="check-Al74" class="toggle-switch" type="checkbox" checked>
            <label for="check-Al74">Calcula Aguinaldo</label>
        </div>
    </div>


    <hr />

    <div class="row">
        <div class="col-sm-8">
            <p>No calcula Carga Obrera.</p>

        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <input id="check-NCO" class="toggle-switch" type="checkbox" checked>
            <label for="check-NCO">No Calcula</label>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-8">
            <p>No calcula Carga Patronal.</p>

        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <input id="check-NCP" class="toggle-switch" type="checkbox" checked>
            <label for="check-NCP">No Calcula</label>
        </div>
    </div>
    <hr />
    <center>
        <div class="modal-footer">
            <input type="button" class="btn btn-dark btn-sm" id="_GuardarDatos" value="Guardar" />
        </div>
    </center>
</div>

<script>

    $(document).ready(function () {
        GetTipoInfo();
    });

    function GetTipoInfo() {
        $.ajax({
            type: 'GET',
            url: '../GetTipoInfoUnidad',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data.BanderaCuotaSindical == 'S') {
                    $("#check-CS").prop('checked', true);
                } else {
                    $("#check-CS").prop('checked', false);
                }

             

                if (data.BanderaCargasSocialesSinFaltas == 'S') {
                    $("#check-CSSF").prop('checked', true);
                } else {
                    $("#check-CSSF").prop('checked', false);
                }

                if (data.BanderaDiasEquivalentes == 'SI') {
                    $("#check-DE").prop('checked', true);
                } else {
                    $("#check-DE").prop('checked', false);
                }

                if (data.CobraCOPS_Empleado_SMGV == 'SI') {
                    $("#check-SMGV").prop('checked', true);
                } else {
                    $("#check-SMGV").prop('checked', false);
                }
                if (data.RetencionISR_SMGV == 'S') {
                    $("#check-RIS").prop('checked', true);
                } else {
                    $("#check-RIS").prop('checked', false);
                }
                if (data.ValidaFechaSubirArchivo == 'S') {
                    $("#check-Hono").prop('checked', true);
                } else {
                    $("#check-Hono").prop('checked', false);
                }

                if (data.GenerarIntegradoPVyAgui == 'S') {
                    $("#check-GIPA").prop('checked', true);
                } else {
                    $("#check-GIPA").prop('checked', false);
                }

                if (data.ISRAguinaldoL174 == 'S') {
                    $("#check-Al74").prop('checked', true);
                } else {
                    $("#check-Al74").prop('checked', false);
                }
                if (data.NoCalcularCargaObrera == 'S') {
                    $("#check-NCO").prop('checked', true);
                } else {
                    $("#check-NCO").prop('checked', false);
                }
                if (data.NoCalcularCargaPatronal == 'S') {
                    $("#check-NCP").prop('checked', true);
                } else {
                    $("#check-NCP").prop('checked', false);
                }
                $('#editFechaInicio_').val(data.FechaInicioValidacionSubir);
                $('#editFechafin_').val(data.FechaFinValidacionSubir);


            }
        });
    }


    $("#_GuardarDatos").click(function () {

        var CuotaSindical = $("#check-CS").prop("checked");
        var FondoAhorro = $("#check-FH").prop("checked");
        var CargasSFaltas = $("#check-CSSF").prop("checked");
        var DiasEquiv = $("#check-DE").prop("checked");
        var CobroCops = $("#check-SMGV").prop("checked");
        var RetenciISRSMGV = $("#check-RIS").prop("checked");
        var SubirArchivo = $("#check-Hono").prop("checked");
        var GeneraIntegrado = $("#check-GIPA").prop("checked");
        var Isr74 = $("#check-Al74").prop("checked");
        var NCargaObrera = $("#check-NCO").prop("checked");
        var NCargaPatronal = $("#check-NCP").prop("checked");
        var FechaInicio = $("#editFechaInicio_").val();
        var FechaFin = $("#editFechafin_").val();

        $.ajax({
            type: 'POST',
            url: '../GuardarEspeciales',
            data: { CuotaSindical, FondoAhorro, CargasSFaltas, DiasEquiv, CobroCops, RetenciISRSMGV, SubirArchivo, GeneraIntegrado, Isr74, NCargaObrera, NCargaPatronal, FechaInicio, FechaFin },
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result == "Exito") {

                    mensajeAlerta("Atencion!", "Se guardo la informacion de la Unidad de Negocio.", "mint", "bounce", "fadeOut", 2000);
                } else {

                    $.hideLoading();
                    mensajeAlerta("Atencion!", result, "danger", "bounce", "fadeOut", 2100);
                }
            }
        });

    });

    function redirigir() {
        window.location.reload();

    }


</script>
