
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}

<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Movimientos Administraci&oacute;n</h1>
    </div>
</div>

<div id="page-content">
    <div class="panel">
        <div class="panel-body text-left">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Envio de movimientos
                </h4>
            </div>
            <hr />
            <div class="panel-body">
                <div class="cls-container" style="background-color:white">
                    <div class="cls-content">
                        <h1 class="error-code text-muted">
                            <i class="fa ti-face-smile"></i>
                        </h1>
                        <p class="h4 text-uppercase text-bold">No tiene movimientos por enviar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



