@model List<TadaNomina.Models.ViewModels.Facturacion.ModelSolicitudFacturas>


@{
    ViewBag.Title = "PendientesTesoreria";
    Layout = "~/Views/Shared/_layoutPrincipal.cshtml";
}


<div id="page-head">
    <div id="page-title">
        <h1 class="page-header text-overflow">Solicitud de Facturas Pendientes</h1>
    </div>
    <div id="rutaPrincipal"></div>
</div>

<div class="col-md-12">
    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Costeos Disponibles.</h3>
            </div>
            <div class="panel-body">



                <br /><br /><br />

                @if (Model.Count() > 0)
                {
                    <table id="demo-dt-selection" class="table table-hover table-sm" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="3%" hidden="hidden">Id</th>
                                <th width="20%">Descripción</th>
                                <th width="5%">Tipo</th>
                                <th width="7%">SubTotal</th>
                                <th width="7%">IVA</th>
                                <th width="7%">Total Costeo</th>
                                <th width="7%">Total Factura</th>
                                <th width="12%">Estatus</th>
                                <th width="4%">Pendientes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden="hidden">@item.Num</td>
                                    <td>@item.Periodo</td>
                                    <td>@item.TipoEsquema</td>
                                    <td>$@item.SubTotal</td>
                                    <td>$@item.IVA</td>
                                    <td>$@item.Total</td>
                                    <td>$@item.NTotal</td>
                                    <td>@item.Estatus</td>


                                    <td align="center"><a href="~/SolicitudFacturas/SolicitudPendienteTesoreria?_ID=@TadaNomina.Models.ClassCore.Statics.Encriptar(item.IdfacturasContabilidad.ToString())" class="btn btn-sm btn-info load"><i class="glyphicon glyphicon-edit"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        No hay Costeos  .
                    </div>
                }

            </div>
        </div>
    </div>
</div>





